<mat-toolbar color="primary" class="flex flex-row justify-end">
  <button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<form (ngSubmit)="publish()" class="flex flex-col space-y-7">
  <p class="text-red-500">{{errorMessage}}</p>
  <mat-form-field>
    <mat-label>New Post</mat-label>
    <input matInput type="text" placeholder="Content" [formControl]="newPostContent" required>
    <mat-error *ngIf="this.newPostContent.invalid">Post content is required</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Publish</button>
</form>

<ul>
  <li *ngFor="let post of posts">{{ post.content }}</li>
</ul>
