<div class="flex h-screen justify-center items-center">
  <mat-card class="max-w-min max-h-screen">
    <h1 class="text-blue-900 text-center">REGISTER</h1>

    <form (ngSubmit)="register()" [formGroup]="form" class="flex flex-col space-y-7">
      <p class="text-red-500">{{errorMessage}}</p>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="test@test.fr" formControlName="email" required>
        <mat-error *ngIf="this.form.get('email')?.invalid">{{getErrorEmail()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
          <mat-icon color="primary">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="this.form.get('password')?.invalid">{{getErrorPassword()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" required [errorStateMatcher]="matcher">
        <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
          <mat-icon color="primary">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.hasError('mismatched')">{{getErrorConfirmPassword()}}</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Register</button>

      <a mat-button color="primary" routerLink="/login" routerLinkActive="active">Login</a>
    </form>
  </mat-card>


</div>
